* {
    padding: 0;
    margin: 0;
}


html,
body {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    position: relative;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input{
    height: 30px;
    width: 30px;
    outline: none;
    background-color: white;
    border: 1px solid white;
    transition: width 0.3s ease;    
}

.button{
    height: 32px;
    width: 32px;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    transition: all 0.3s ease;
    outline: none;
}

.show{
    width: 150px;
}

.showBtn{
    display: block;
    transform: translateX(85px);
}
